* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 0 5vw;
  letter-spacing: 0.1rem;
}
header {
  display: flex;

  align-items: center;
  gap: 3rem;
  height: 5vw;
  padding: 5px 0;
}

ul {
  display: flex;
  gap: 1rem;
}
li {
  list-style: none;

  font-weight: 200;
  flex-grow: 2;
}

.logo {
  fill: #0abf53;
}
.end-header {
  display: flex;
  gap: 1rem;

  font-weight: 200;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}

button {
  background-color: #0abf53;
  color: white;
  border-color: #0abf53;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 40%;
  border-radius: 6px;
  border-style: none;
  font-size: 1rem;
  padding: 10px;
}
button:hover {
  background-color: rgb(8, 143, 62);
}
.first-section,
.third-section {
  display: flex;
  gap: 1;
}
.first-section,
.third-section > * {
  flex: 1;
}

.left-first-section {
  padding: 10vw 10vw 0 0;
}

h1 {
  font-size: 64px;
  letter-spacing: 0.1rem;
}
.left-first-section p {
  font-weight: 200;
  margin: 15px 0;
  line-height: 2rem;
}
.brands {
  display: flex;

  padding: 35px 0;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* I couldn't make a button with hidden nav-bar*/

.second-section {
  background-color: rgb(243, 246, 249);
  padding: 8vw 5vw;
  margin-top: 5vw;
}
.features {
  display: flex;
  justify-content: space-between;
  font-weight: 200;
  line-height: 2rem;
  gap: 3vw;
  font-size: smaller;
}
.feature > img {
  width: 24px;
  padding: 1vw 0;
}
h2 {
  font-weight: 600;
  font-size: 48px;
  padding: 2vw 0;
}
a {
  color: #0abf53;
}
a:hover {
  text-decoration: none;
}

#finance {
  background-color: rgba(10, 191, 83, 0.12);
  border-radius: 6px;
  color: #0abf53;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  padding: 6px 12px;
  padding-top: 6px !important;
  width: fit-content;
}
#terminal {
  max-width: 50vw;
}
.inner-section {
  padding: 10vw 10vw 0 0;
}
@media only screen and (max-width: 768px) {
  body {
    font-size: smaller;
  }
  header {
    padding-top: 5vw;
  }
  .nav-bar,
  .end-header {
    display: none;
  }
  .first-section,
  .third-section {
    flex-direction: column;
    padding: 0;
  }

  video,
  #terminal {
    width: 100%;
    margin: 3vw 0;
  }
  h1 {
    font-size: 1.2rem;
  }
  .features {
    flex-wrap: wrap;
  }
  h2 {
    font-size: 32px;
  }
}
